*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.claude/
/auth.json
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/app/public
/storage/framework
/storage/logs
/storage/debugbar
/storage/pail
/storage/*.key
/storage/*.log
/database/*.sqlite
Homestead.json
Homestead.yaml
Thumbs.db
/public/css/
/public/js/
.DS_Store
nul

